# SPDX-License-Identifier: GPL-2.0-or-later

config MISC_ITHC
	tristate "Intel Touch Host Controller"
	depends on INTEL_MEI
	depends on HID
	help
	  Say Y here if your system has a touchscreen using Intel
	  Touch Host Controller (ITHC) technology.

	  If unsure say N.

	  To compile this driver as a module, choose M here: the
	  module will be called ipts.

	  Building this driver alone will not give you a working touchscreen.
	  It only exposed a userspace API that can be used by a daemon to
	  receive and process data from the touchscreen hardware.

